<div class="mt-20">
	<h1 class="text-center">Hobby Connectionへようこそ</h1>
   <div class="">
	<h6 class="text-center">　Hobby connectionでは、同じ趣味を持つ人たちと<br />
	   つながることができたり、自分の趣味を共有することができます。</h6>
	<h6 class="text-center"> Hobby connectionであなたにとって新しい経験や知識、仲間を見つけてみませんか？</h6>
	<h6 class="text-center">　まだ登録がお済でない方はコチラから↓<br />
	  <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-success btn-lg" %></h6>

	<h6 class="text-center">　既に登録をされている方はコチラから↓<br />
	  <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-primary btn-lg" %>
		</h6>
   </div>
</div>