<dev class="container-fluid">
	<div class="row">
		<div class="col-3 text-center">
			<%= render 'sidemenu' %>
		</div>
		<div class="col-9">
			<h1>マッチした人一覧</h1>
			<div style="overflow:auto; height: 500px;">
				<% @users.each do |macth| %>
				<%= render 'list', user: macth %>
				<% end %>
			<div style="overflow:auto; height: 500px;">
        </div>
	</div>
</dev>