<dev class="container-fluid">
	<div class="row">
		<div class="col-3 text-center">
			<%= render 'sidemenu' %>
		</div>
		<div class="col-9">
			<h1>フォロワーリスト</h1>
			<% @user.followers.each do |user| %>
			<%= render 'list', user: user %>
			<% end %>
		</div>
	</div>
</dev>