<h1>プロフィール</h1>
<!-- 画像スライダー機能-->
<h4>ユーザー名 : <%= @user.user_name %></h4>
<p>年齢</p>
<!--現年齢算出機能-->
<p>性別: <%= @user.sex %>
</p>
<h4>住んでいる地域 : <%= @user.area %></h4>

<!--趣味のタグ付け-->
<h4>自己紹介</h4>
<%= @user.introduction %>
