<dev class="container-fluid">
	<div class="row">
		<div class="col-3 text-center">
			<%= render 'sidemenu' %>
		</div>
		<div class="col-9">
		  <h2>趣味仲間を探す</h2>
			<% @users.each do |user| %>
				 <% if user.id != current_user.id %>
			        <%= render 'list', user: user %>
			     <% end %>
		    <% end %>
		</div>
	</div>
</dev>