<dev class="container">
    <div class="row">
      <div class="col-5">
        <!-- current_userのサイドメニュー -->
      	<%= render 'user/users/sidemenu' %>
      </div>
      <div class="col-7">
       <h1 class="pb-4">タイムライン</h1>
       <div style="overflow:auto; height: 500px;">
    		<% @posts.each do |post| %>
    		     <%= render 'timeline', post: post %>
    		<% end %>
       </div>
	  </div>
	</div>
</dev>
